[Unit]
Description=uAthena Char-TXT server
After=network.service uAlogin-txt.service
Requires=uAlogin-txt.service
Before=uAmap-txt.service
Conflicts=uAlogin.service uAchar.service uAmap.service uAthena.target shutdown.target
PartOf=uAthena-txt.target
ReloadPropagatedFrom=uAthena-txt.target


[Service]
Type=simple
PIDFile=/opt/uathena/bin/PID-char.pid
WorkingDirectory=/opt/uathena/bin/

User=root
Group=root

OOMScoreAdjust=-500

ExecStart=/opt/uathena/bin/ua-start.sh char
ExecStop=/opt/uathena/bin/ua-stop.sh char
ExecReload=/opt/uathena/bin/ua-restart.sh char
TimeoutSec=5
Restart=always

[Install]
WantedBy=uAthena-txt.target
