[Unit]
Description=uAthena Char+SQL server
After=network.service uAlogin.service
Requires=uAlogin.service
Before=uAmap.service
Conflicts=uAlogin-txt.service uAchar-txt.service uAmap-txt.service uAthena-txt.target shutdown.target
PartOf=uAthena.target
ReloadPropagatedFrom=uAthena.target

[Service]
Type=simple
PIDFile=/opt/uathena/bin/PID-char.pid
WorkingDirectory=/opt/uathena/bin/

User=root
Group=root

OOMScoreAdjust=-500

ExecStart=/opt/uathena/bin/ua-start.sh char sql
ExecStop=/opt/uathena/bin/ua-stop.sh char
ExecReload=/opt/uathena/bin/ua-restart.sh char sql
TimeoutSec=5
Restart=always

[Install]
WantedBy=uAthena.target
