[Unit]
Description=uAthena Login+SQL server
After=network.target
Requires=network.target
Before=uAchar.service uAmap.service
Conflicts=uAlogin-txt.service uAchar-txt.service uAmap-txt.service uAthena-txt.target shutdown.target
PartOf=uAthena.target
ReloadPropagatedFrom=uAthena.target


[Service]
Type=simple
PIDFile=/opt/uathena/bin/PID-login.pid
WorkingDirectory=/opt/uathena/bin/

User=root
Group=root

OOMScoreAdjust=-500

ExecStart=/opt/uathena/bin/ua-start.sh login sql
ExecStop=/opt/uathena/bin/ua-stop.sh login
ExecReload=/opt/uathena/bin/ua-restart.sh login sql
TimeoutSec=300
Restart=always

[Install]
WantedBy=uAthena.target
