[Unit]
Description=uAthena Login MySQL server
After=network.service
Requires=network.service
Before=uAchar-txt.service
Conflicts=uAlogin.service uAchar.service uAmap.service


[Service]
Type=simple
PIDFile=/opt/uathena/bin/PID-login.pid
WorkingDirectory=/opt/uathena/bin/

User=root
Group=root

OOMScoreAdjust=-500

ExecStart=/opt/uathena/bin/ua-start.sh login
ExecStop=/opt/uathena/bin/ua-stop.sh login
ExecReload=/opt/uathena/bin/ua-restart.sh login
TimeoutSec=5
Restart=always

[Install]
WantedBy=multi-user.target
