[Unit]
StopWhenUnneeded=true
Description=uAthena+SQL
After=network.service uAlogin.service uAchar.service uAmap.service
Requires=uAlogin.service uAchar.service uAmap.service
Conflicts=uAlogin-txt.service uAchar-txt.service uAmap-txt.service uAthena.target shutdown.target

[Install]
WantedBy=multi-user.target
